body {
    font-family: Roboto;
    margin: 35vh auto 0 auto;
    max-width: 800px;
    width: 100%;
    background: #eee;
}
h1, h2 {
    text-align: center;
    font-size: 2.6rem;
    line-height: 3rem;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    color: #555;
}
h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    opacity: 0.6;
}