<head>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
  <app style="text-align: center;width: 100%;display: block;">
    <span>Loading...</span>
    </app>
</body>
